In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('/home/ams/Documents/python/vscode/nlp/NLP/OMDB_data/movie_data.csv')

In [5]:
df

,Title,Year,Plot
0,The Fog,1980,An unearthly fog rolls into a small coastal to...
1,Stir Crazy,1980,"Set up and wrongfully accused, two best friend..."
2,Cruising,1980,A police officer goes undercover in the underg...
3,Heaven's Gate,1980,"During the Johnson County War in 1890 Wyoming,..."
4,The Final Countdown,1980,A modern aircraft carrier is thrown back in ti...
...,...,...,...
801,La Cage aux Folles 3: The Wedding,1985,Third (and final) of the La Cage aux Folles se...
802,James Joyce's Women,1985,"In this tribute to James Joyce, Fionnula Flana..."
803,Turtle Diary,1985,"Two separate people, a man and a woman, find s..."
804,Maccheroni,1985,A businessman from the United States returns t...
805,My Man Adam,1985,"A pizza delivery lad, who fantasises about his..."

## Convert all text to lowercase

In [6]:
df['Plot'] =df['Plot'].str.lower()

In [7]:

df

,Title,Year,Plot
0,The Fog,1980,an unearthly fog rolls into a small coastal to...
1,Stir Crazy,1980,"set up and wrongfully accused, two best friend..."
2,Cruising,1980,a police officer goes undercover in the underg...
3,Heaven's Gate,1980,"during the johnson county war in 1890 wyoming,..."
4,The Final Countdown,1980,a modern aircraft carrier is thrown back in ti...
...,...,...,...
801,La Cage aux Folles 3: The Wedding,1985,third (and final) of the la cage aux folles se...
802,James Joyce's Women,1985,"in this tribute to james joyce, fionnula flana..."
803,Turtle Diary,1985,"two separate people, a man and a woman, find s..."
804,Maccheroni,1985,a businessman from the united states returns t...
805,My Man Adam,1985,"a pizza delivery lad, who fantasises about his..."

## remove html tags

In [1]:
# df

In [10]:
import re

def remove_html_tags(text):
    if isinstance(text, str):
        pattern = re.compile('<.*?>')
        return pattern.sub(r'', text)
    else:
        return text

df['Plot'] = df['Plot'].apply(remove_html_tags)

In [11]:
df

,Title,Year,Plot
0,The Fog,1980,an unearthly fog rolls into a small coastal to...
1,Stir Crazy,1980,"set up and wrongfully accused, two best friend..."
2,Cruising,1980,a police officer goes undercover in the underg...
3,Heaven's Gate,1980,"during the johnson county war in 1890 wyoming,..."
4,The Final Countdown,1980,a modern aircraft carrier is thrown back in ti...
...,...,...,...
801,La Cage aux Folles 3: The Wedding,1985,third (and final) of the la cage aux folles se...
802,James Joyce's Women,1985,"in this tribute to james joyce, fionnula flana..."
803,Turtle Diary,1985,"two separate people, a man and a woman, find s..."
804,Maccheroni,1985,a businessman from the united states returns t...
805,My Man Adam,1985,"a pizza delivery lad, who fantasises about his..."

## Remove url

In [14]:
def remove_url(text):
    if isinstance(text, str):
        pattern = re.compile(r'https?://\S+|www\.\S+')
        return pattern.sub(r'', text)
    else:
        return text

In [15]:
df['Plot']=df['Plot'].apply(remove_url)

## Remove punctuation

In [ ]:
def remove_punc(text, exclude):
    for char in exclude:
        text = text.replace(char, '')
    return text

exclude = '''!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~'''
df['Plot'] = df['Plot'].apply(lambda x: remove_punc(x, exclude))

## remove stopwords

In [23]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/ams/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [24]:
from nltk.corpus import stopwords

In [28]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    if isinstance(text, str):
        new_text = []
        for word in text.split():
            if word.lower() not in stop_words:
                new_text.append(word)
        return " ".join(new_text)
    else:
        return text

[nltk_data] Downloading package stopwords to /home/ams/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
df['Plot']=df['Plot'].apply(remove_stopwords)

## Tokenize

In [31]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [32]:
import nltk
from nltk.tokenize import sent_tokenize
nltk.download('punkt')

def tokenize_sentences(text):
    if isinstance(text, str):
        return sent_tokenize(text)
    else:
        return []

df['Sentences'] = df['Plot'].apply(tokenize_sentences)

[nltk_data] Downloading package punkt to /home/ams/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [33]:
df

,Title,Year,Plot,Sentences
0,The Fog,1980,unearthly fog rolls small coastal town exactly...,[unearthly fog rolls small coastal town exactl...
1,Stir Crazy,1980,"set wrongfully accused, two best friends sent ...","[set wrongfully accused, two best friends sent..."
2,Cruising,1980,police officer goes undercover underground s&a...,[police officer goes undercover underground s&...
3,Heaven's Gate,1980,"johnson county war 1890 wyoming, sheriff born ...","[johnson county war 1890 wyoming, sheriff born..."
4,The Final Countdown,1980,modern aircraft carrier thrown back time 1941 ...,[modern aircraft carrier thrown back time 1941...
...,...,...,...,...
801,La Cage aux Folles 3: The Wedding,1985,third (and final) la cage aux folles series re...,[third (and final) la cage aux folles series r...
802,James Joyce's Women,1985,"tribute james joyce, fionnula flanagan gives t...","[tribute james joyce, fionnula flanagan gives ..."
803,Turtle Diary,1985,"two separate people, man woman, find something...","[two separate people, man woman, find somethin..."
804,Maccheroni,1985,businessman united states returns italy first ...,[businessman united states returns italy first...
805,My Man Adam,1985,"pizza delivery lad, fantasises dream girl hero...","[pizza delivery lad, fantasises dream girl her..."

In [34]:
df['Sentences'][1]

['set wrongfully accused, two best friends sent prison crime commit.',
 'however, prison cell keep locked cage.']